.navbar-brand{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 10.5%;
    margin-inline-start: 0%;
  }
  .navbar-brand img{
    width: 110px;
    height: 65px;
    margin-right: 2%;
    }
  #home:hover, #contact:hover, .dropdown a:hover{
    background-color: red;
  }
  .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-menu a:hover {
      background-color: #ddd;
      color: black;
  }
  .dropdown-toggle::after{
      display: none;
  }
  #btn1{
    /* margin-left: 0%; */
    width: 15%;
    height: 5%;
    color: black;
    border-color: black;
    background-color: black;
  }
  #topnav{
    background-color: #974B42 !important;
  }
  .navbar-header h3{
    color: white; 
    font-size: 30px;
  }
.navbar-header h4{
  color:white; 
  text-transform: uppercase; 
  font-size: 11px;
}